.DS_Store
.venv/
venv/
.idea/
.vscode/
.pytest_cache/
__pycache__/
*.pyc
tests/__pycache__/
.env
*.log
app/dokumenter/**
app/predicted_boxes/**
valideringssett/all_documents/
valideringssett/organized_labels_all.csv
valideringssett/results/**
tmp/
logs/**
*.pdf
*.png
bokser.csv
ocr_linjer.txt
smartsladding_uttrekk_1_22_06_26.csv
smartsladding_uttrekk_labels_1_22_06_26.csv
