pytesseract
pillow
opencv-python
pdf2image
PyPDF2
numpy
matplotlib
pandas
torch
torchvision
pymupdf
requests
datasets
pytest
flask
requests
pymupdf
python-dotenv
python-Levenshtein
python-bidi
easyocr