pytesseract
pillow
opencv-python-headless
pdf2image
PyPDF2
numpy
matplotlib
pandas
torch==2.13.0 #måtte ha 2.4.0. for at det skulle fungere i container, kan være vi kan justere denne i samsvar med nvidia/cuda:12.1.1-runtime-ubuntu22.04 + https://download.pytorch.org/whl/cu121
torchvision
pymupdf
requests
datasets
pytest
flask
gunicorn
python-dotenv
python-Levenshtein
python-bidi
easyocr
regex
